name: HueAgent CI

on:
  pull_request:
    branches: [ main ]
    paths:
      - "modules/HueAgent/**"
      - "deployment*.json"
      - ".github/workflows/hueagent-*.yml"

permissions:
  contents: read
  pull-requests: write

env:
  WORKING_DIR: modules/HueAgent

jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Semantic-release info
        id: semantic_release_info
        uses: fingerprintjs/action-semantic-release-info@v2
        with:
          cwd: ${{ env.WORKING_DIR }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - if: ${{ steps.semantic_release_info.outputs.no_release == 'false' }}
        name: Add comment to the PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: ReleasePreview
          recreate: true
          message: |
            ## This PR will create a ${{steps.semantic_release_info.outputs.type}} release :rocket:
            ${{steps.semantic_release_info.outputs.notes}}

      - if: ${{ steps.semantic_release_info.outputs.no_release == 'true' }}
        name: Add comment to the PR
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: ReleasePreview
          recreate: true
          message: |
            ## This PR will not create a new release :rocket:

      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install --no-fund --no-audit
        working-directory: ${{ env.WORKING_DIR }}

      - name: Run tests
        run: npm test
        working-directory: ${{ env.WORKING_DIR }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.WORKING_DIR }}
          file: ${{ env.WORKING_DIR }}/Dockerfile.arm64v8
          push: false
          load: true
          tags: hueagent:${{ github.sha }}
          platforms: linux/arm64
