name: PR Validation


on:
  pull_request:
    branches: [ main ]
    paths:
      - 'webapp/**'
      - '.github/workflows/webapp-*.yml'

jobs:
  validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: webapp
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build
      - run: npm run lint
      - run: npm test
